:root {
  --navHeight: 70px;
  --mainHeight: calc(100vh - var(--navHeight)*2);
  --pos1topMargin: calc((var(--mainHeight) - 100vw*1.11567)/2);
  --pos2leftMargin: calc((100vw - var(--mainHeight)*0.89632)/2);
  --navMargin: 5px;
}
body .turnedButton {
  background-image: linear-gradient(#c72222 0%, #ff0000 100%);
}
body nav,
body footer {
  height: var(--navHeight);
  min-height: var(--navHeight);
  width: 100%;
}
body nav ul,
body footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  margin-left: calc(var(--navMargin) * 1.5);
  margin-right: calc(var(--navMargin) * 1.5);
  padding: 0;
}
body nav ul li,
body footer ul li {
  height: calc(var(--navHeight) - var(--navMargin) * 2);
  min-width: calc(var(--navHeight) - var(--navMargin) * 2);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: calc(var(--navMargin) * 2.5);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 10px -10px #000000;
}
body nav ul li a,
body footer ul li a {
  display: block;
  height: 100%;
}
body nav ul li a img,
body footer ul li a img {
  height: calc(var(--navHeight) - var(--navMargin) * 4);
  margin: var(--navMargin);
}
body nav ul li:nth-of-type(2),
body footer ul li:nth-of-type(2) {
  position: relative;
  color: white;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul li:nth-of-type(2) input,
body footer ul li:nth-of-type(2) input {
  color: white;
  font-size: 16pt;
  position: absolute;
  text-align: left;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  width: 75%;
  border: none;
}
body nav ul li:nth-of-type(2) input::-webkit-inner-spin-button,
body footer ul li:nth-of-type(2) input::-webkit-inner-spin-button {
  display: none;
}
body nav ul li:nth-of-type(2) input::-webkit-input-placeholder,
body footer ul li:nth-of-type(2) input::-webkit-input-placeholder {
  color: white;
}
body nav ul li:nth-of-type(2) label,
body footer ul li:nth-of-type(2) label {
  text-align: right;
  width: 75%;
}
body footer ul li:nth-of-type(2) {
  width: calc(var(--navHeight) - var(--navMargin) * 2);
}
