:root {
  --navHeight: 70px;
  --mainHeight: calc(100vh - var(--navHeight)*2);
  --pos1topMargin: calc((var(--mainHeight) - 100vw*1.11567)/2);
  --pos2leftMargin: calc((100vw - var(--mainHeight)*0.89632)/2);
  --navMargin: 5px;
}
body #content #recipesList {
  list-style-type: none;
  padding: 0;
  margin: calc(var(--navMargin) * 1.5);
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}
body #content #recipesList > li {
  border-radius: calc(var(--navMargin) * 2.5);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 10px -10px #000000;
  margin: calc(var(--navMargin) * 1.5) 0;
}
body #content #recipesList > li h1 {
  font-size: 16pt;
  margin: 0;
  padding: calc(var(--navMargin) * 2);
  text-align: center;
}
body #content #recipesList > li img {
  width: 70%;
  max-width: 300px;
  margin: 0 15%;
  border: solid 5px rgba(0, 0, 0, 0.7);
  border-radius: calc(var(--navMargin) * 2.5);
  box-shadow: #aaa 0 0 20px 1px, inset 0 0 20px 1px #444;
}
body #content #recipesList > li ol {
  padding-bottom: var(--navMargin);
}
body #content #recipesList > li ol .absent {
  color: #ff968c;
}
body #content #recipesList > li ol li {
  text-transform: capitalize;
}
body #content #recipesList > li p {
  text-align: center;
  margin: 0;
  padding: calc(var(--navMargin) * 3);
}
